.card {
    width: 80%;
    margin: 0 auto;
    border: 3px solid #c2bebe;
    box-shadow: 2px 2px 2px #c2bebe;
    background-color: rgb(235, 224, 211);
}
.card h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    margin: auto;
    border: 2px solid #c2bebe;
    text-align: center;
    color: #5a615b;
    box-shadow: 2px 2px 2px #c2bebe;
}